@mixin container() {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
@mixin font($size, $line-height, $fontFamily, $fontWeight) {
    font-size: $size;
    line-height: $line-height;
    font-family: $fontFamily;
    font-weight: $fontWeight;
}