@import 'reset';
@import 'mixins';
@import 'variables';

body {
    @include font(18px, 21px, 'Raleway', 400);
}
.banner {
    background-image: url(images/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 116px;
    padding: 230px 0 120px;
    position: relative;

    @media only screen and (max-width: 1024px) {
        & {
            padding-bottom: 126px;
            margin-bottom: 78px;
        } 
    }
    @media only screen and (max-width: 767px) {
        & {
            padding: 106px 0 52px;
            margin-bottom: 40px;
        }
    }

    &__container {
        @include container();
    }
    &::before {
        content: '';
        display: block;
        background-color: #252B49;
        opacity: .8;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__title {
        color: $color;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 31px;
        position: relative;
        z-index: 1;

        @include font(64px, 75px,'Raleway', 900);
        @media only screen and (max-width: 1024px) {
            & {
                @include font(48px, 56px,'Raleway', 900);
                margin-bottom: 62px;
            }
        }
        @media only screen and (max-width: 767px) {
            & {
                @include font(36px, 42px,'Raleway', 900);
                margin-bottom: 33px;
            }
        }
    }
    &__text {
        color: $color;
        text-align: center;
        margin-bottom: 80px;
        position: relative;
        z-index: 1;
        @include font(24px, 28px,'Raleway', 400);

        @media only screen and (max-width: 1024px) {
            & {
                @include font(18px, 21px,'Raleway', 400);
                margin-bottom: 89px;
            }
        }
        @media only screen and (max-width: 767px) {
            & {
                @include font(14px, 16px,'Raleway', 400);
                margin-bottom: 50px;
            }
        }
    } 
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    @media only screen and (max-width: 1024px) {
        & {
            margin-bottom: 157px;
            }
        }
    @media only screen and (max-width: 767px) {
        & {
            padding: 22px 0;
            align-items: center;
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    &__container {
        @include container();
        border-bottom: 1px solid $color_border;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 767px) {
            & {
                border-bottom: none;
            }
        }
    }
    &__burger {
        & svg {
            display: none;
        }
        @media only screen and (max-width: 767px) {
            & svg {
                display: flex;
                } 
        }
    }
}
.nav {
    &__list {
        display: flex;
        align-items: center;
    }
    &__link:hover {
        border-bottom: 3px solid $color_border;
    }
    &__link {
        color: $color;
        text-align: center;
        text-transform: uppercase;
        padding: 35px 5px;
        display: inline-block;
        min-width: 134px;
        padding-bottom: 36px;
        border-bottom: 3px solid transparent;
        @include font(13px, 15px,'Raleway', 700);

        @media only screen and (max-width: 1024px) {
            & {
                padding-left: 30px;
                padding-right: 30px;
                @include font(12px, 14px,'Raleway', 700);
            }
        }
        @media only screen and (max-width: 992px) {
            & {
                padding-left: 15px;
                padding-right: 15px;
                min-width: 124px;
            }
        }
    }
    &__link:active {
        border-bottom: 3px solid $color_nav;
        color: $color_nav;
    }
    @media only screen and (max-width: 767px) {
        & {
            display: none;
        }
    }
}

.btn {
    color: $color;
    text-align: center;
    text-transform: uppercase;
    padding: 26px 70px;
    background-color: $background_btn;
    border: none;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    @include font(24px, 28px,'Raleway', 900);
    @media only screen and (max-width: 1024px) {
        & {
            padding: 26px 55px;
        }
    }
    @media only screen and (max-width: 767px) {
        & {
            padding: 16px 38px;
            width: 100%;
        }
    }

    &:hover {
        background-color: $color_nav;
    }
    &:active {
        background: $background_btn;
        box-shadow: 4px 4px 30px 0px $background_btn;
    }
}

.link__logo {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1024px) {
        & {
            svg {
                width: 112px;
                height: 28px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        &  {
            svg {
                width: 103px;
                height: 14px;
            }
        }  
    }
}
// features
.features {
    &__container {
        @include container();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 88px;
        margin-bottom: 133px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 80px;
            column-gap: 20px;
            row-gap: 50px;
        }
        @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 35px;
            row-gap: 42px;
        }
    }
    &__wrapper {
        text-align: center;  
    }
    &__wrapper-svg {
        margin-bottom: 29px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 25px;
            svg {
                width: 85px;
                height: 85px;
            }
        }
        @media only screen and (max-width: 767px) {
            margin-bottom: 21px;
            svg {
                width: 75px;
                height: 75px;
            }
        }
    }
    &__title {
        color: $color_title;
        @include font(24px, 28px,'Raleway', 900);
        text-transform: uppercase;
        margin-bottom: 20px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 4px;
        }
        @media only screen and (max-width: 767px) {
            margin-bottom: 2px;
        }
    }
    &__text {
        color: $color__text;
        @include font(18px, 21px,'Raleway', 400);
    }
}