//переменные
$color: #FFF;
$color_2: #000;
$color_copyright: #808080;
$color_title: #2D3033;
$color__text: #6C7279;
$color__subtitle: #FF4343;
$color_border: #BABBC5;
$background_btn: #FF4343;
$background_img_hover: rgba(255, 67, 67, 0.80);
$background_img_active: rgba(185, 12, 12, 0.80);
$color_nav: #E71414;
$color_border-icon: #C6CBCD;
$background_footer: #353C65;
$background_footer_2: #2C3154;
$background_testimonials: #5C3249;
$background_swiper: #7E5D6F;
$background_burger: #252B49;